<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.dispatch_x12"
    android:installLocation="auto"
    android:versionCode="1"
    android:versionName="1.0" >

   <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_CALENDAR" />
    <uses-sdk
        android:minSdkVersion="11"
        android:targetSdkVersion="19" />

    <application
        android:name="com.dispatch_x12.X12Application"
        android:allowBackup="true"
        android:icon="@drawable/truck12"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >

        <activity
            android:name="com.dispatch_x12.MainActivity"
            android:configChanges="keyboardHidden|orientation|screenSize" >
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.dispatch_x12.AppSettings"
            android:configChanges="keyboardHidden|orientation" >
        </activity>
        <activity
            android:name="com.dispatch_x12.NewUser"
            android:configChanges="keyboardHidden|orientation" >
        </activity>
        <activity
            android:name="com.dispatch_x12.ChangePassword"
            android:configChanges="keyboardHidden|orientation" >
        </activity>
        <activity
            android:name="com.dispatch_x12.CompanyEntry"
            android:windowSoftInputMode="adjustPan"
            android:configChanges="keyboardHidden|orientation" >
        </activity>
        <activity
            android:name="com.dispatch_x12.UserEntry"
            android:windowSoftInputMode="adjustResize"
            android:configChanges="keyboardHidden|orientation" >
        </activity>
        <activity
            android:name="com.dispatch_x12.VehicleEntry"
            android:windowSoftInputMode="adjustResize"
            android:configChanges="keyboardHidden|orientation" >
        </activity>
        
        <activity android:name="com.dispatch_x12.InfoWebActivity" >
        </activity>
        
        
        <service
            android:name="com.dispatch_x12.ChatService"
            android:enabled="true" />
        
        </application>

</manifest>